<!DOCTYPE html>
<html lang="en">
<%- include ../layouts/header.ejs %>
<body class="m-page--fluid m-content--skin-light2">
<!-- begin:: Page -->
<div class="m-grid m-grid--hor m-grid--root m-page">
    <%- include ../layouts/menubar.ejs %>
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
        <button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn">
            <i class="la la-close"></i>
        </button>
        <%- include ../layouts/sidebar.ejs %>
        <div class="m-grid__item m-grid__item--fluid m-wrapper">
            <!-- BEGIN: Subheader -->
            <div class="m-subheader ">
                <div class="d-flex align-items-center">
                    <div class="mr-auto">
                        <h3 class="m-subheader__title ">
                            Dashboard
                        </h3>
                    </div>
                </div>
            </div>
            <!-- END: Subheader -->
            <div class="m-content">

            </div>
        </div>
    </div>
    <%- include ../layouts/footer.ejs %>
</div>
<%- include ../layouts/scripts.ejs %>
</body>
</html>
